<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Quang Bui</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/sidebarNav.css">
    <link rel="stylesheet" href="/static/css/aboutMe.css">
    <link rel="stylesheet" href="/static/css/project.css">
    <link rel="stylesheet" href="/static/css/hireme.css">
</head>

<body>
    <div class="flex-row">
        <!-- Sidebar for larger screens -->
        <div class="main-sidebar">
            <div class="nav-side-bar side-bar" id="sidebar">
                <h2>Quang Bui</h2>
                <img src="/static/images/avatar.JPG" alt="avatar" class="img-ava">
                <p>Hi, my name is Quang Bui, a Graduate Student at Okahoma City University</p>
                <div class="logo-div">
                    <img src="/static/images/address.svg" alt="Address Pin" class="address-pin">
                    <p>Tulsa, Oklahoma</p>
                </div>
                <div class="line-break"></div>

                <div class="logo-div">
                    <a href="https://www.linkedin.com/in/duyquangbui99/" target="_blank">
                        <img src="/static/images/linkedin.svg" alt="LinkedIn Logo" class="linkedin-icon">
                    </a>
                    <a href="https://github.com/duyquangbui99" target="_blank">
                        <img src="/static/images/github.svg" alt="Github Logo" class="github-icon">
                    </a>
                </div>
                <!-- Hidden Sidebar items for navigation for smaller screen-->
                <div class="padd20 hidden-deft">
                    <a href="#aboutme" id="aboutMe">
                        <div class="logo-div">
                            <img src="/static/images/person.svg" alt="person Logo" class="person-icon">
                            <h3>About Me</h3>
                        </div>
                    </a>
                    <a href="#projects" id="hahaproject">
                        <div class="logo-div">
                            <img src="/static/images/project.svg" alt="project Logo" class="project-icon">
                            <h3>Projects</h3>
                        </div>
                    </a>
                    <a href="/resume">
                        <div class="logo-div logo-section">
                            <img src="/static/images/resume.svg" alt="resume Logo" class="resume-icon">
                            <h3>Resume</h3>
                        </div>
                    </a>
                    <div class="hire-me-button" id="btn-contact">
                        <a href="#contact">
                            <div class="logo-div logo-section">
                                <img src="/static/images/hireme.png" alt="hireme Logo" class="hireme-icon">
                                <h3 class="white">Hire me</h3>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
            <!-- Sidebar items for navigation -->
            <div class="side-bar nav-items" id="nav-items">
                <a href="#aboutme" id="aboutMe">
                    <div class="logo-div">
                        <img src="/static/images/person.svg" alt="person Logo" class="person-icon">
                        <h3>About Me</h3>
                    </div>
                </a>
                <a href="#projects" id="hahaproject">
                    <div class="logo-div">
                        <img src="/static/images/project.svg" alt="project Logo" class="project-icon">
                        <h3>Projects</h3>
                    </div>
                </a>
                <a href="/resume">
                    <div class="logo-div logo-section">
                        <img src="/static/images/resume.svg" alt="resume Logo" class="resume-icon">
                        <h3>Resume</h3>
                    </div>
                </a>
                <div class="hire-me-button" id="btn-contact">
                    <a href="#contact">
                        <div class="logo-div logo-section">
                            <img src="/static/images/hireme.png" alt="hireme Logo" class="hireme-icon">
                            <h2 class="white">Hire me</h2>
                        </div>
                    </a>
                </div>
            </div>
            <!-- Navbar for smaller screens -->
            <div class="top-navbar">
                <div class="open-menu" id="open-menu">
                    <img src="/static/images/menu.svg" alt="menu Logo" class="menu-icon">
                </div>
                <div class="menu-text">
                    <h2>Quang Bui</h2>
                </div>
            </div>
        </div>
        <!-- About Me -->
        <div class="main-about-me" id="aboutme">
            <div class="about-me">
                <div class="about-me-text">
                    <h1>QUANG BUI</h1>
                    <h2>Dedicated and Enthusiastic Software Engineer</h2>
                    <p>I’m Quang, a tech enthusiast and grad student at Oklahoma City University, working towards my
                        Master’s in Computer Science. I love solving problems with code and turning creative ideas into
                        real, impactful applications. Whether I’m building AI tools to make information more accessible
                        or crafting customer feedback apps to improve business operations, I’m all about finding smart,
                        efficient solutions. Let’s chat if you’re looking for someone who’s driven by curiosity, loves a
                        good challenge, and is always looking to learn and grow in the tech world.
                    </p>
                    <p style="font-weight: 500;">
                        I’m also actively looking for a summer 2025 internship to further apply my skills and gain
                        hands-on experience.
                    </p>
                    <div class="flex-row gap-30 ">
                        <a href="#projects">
                            <div class="logo-div">
                                <img src="/static/images/project.svg" alt="project Logo" class="project-icon">
                                <h3>Projects</h3>
                            </div>
                        </a>
                        <a href="/resume">
                            <div class="logo-div logo-section">
                                <img src="/static/images/resume.svg" alt="resume Logo" class="resume-icon">
                                <h3>Resume</h3>
                            </div>
                        </a>
                    </div>
                    <div class="line-break-3"></div>
                </div>
                <div class="circle-container">
                    <div class="circle circle1"></div>
                    <div class="circle circle2"></div>
                    <div class="avatar-container">
                        <img src="/static/images/file.png" alt="Avatar" class="avatar">
                    </div>
                </div>
            </div>

            <div class="tech-used">
                <h1>TECHNICAL STACK</h1>
                <div class="tech-stack">
                    <div class="flex-iem">
                        <img src="/static/images/python.svg" alt="python" class="tech-icon paddbottom20px">
                        <p>I’ve been using Python since I first started coding, and it quickly became my go-to language.
                            What I love most about Python is its versatility. Over the years, I’ve built everything from
                            simple scripts to AI-driven tools using Python, and it’s always exciting to see the impact
                            it can have across various fields.
                        </p>
                    </div>
                    <div class="flex-iem ">
                        <img src="/static/images/csharp.svg" alt="c#" class="tech-icon paddbottom20px">
                        <p>I got into C# during a game programming class, and it’s been a fascinating journey. C# really
                            stood out to me, especially for its strong support of object-oriented programming (OOP).
                            I’ve used it primarily with Unity for game development.
                        </p>
                        </p>
                    </div>
                    <div class="flex-iem ">
                        <div class="mutiple-icons paddbottom10px">
                            <img src="/static/images/html.svg" alt="python" class="tech-icon">
                            <img src="/static/images/css.svg" alt="python" class="tech-icon">
                            <img src="/static/images/js.svg" alt="python" class="tech-icon">
                        </div>
                        <p>I work with HTML, CSS, and JavaScript almost daily to build projects. These core web
                            technologies are essential for creating responsive, dynamic applications, and they’ve been
                            the foundation of much of my development work.
                        </p>
                    </div>
                    <div class="flex-iem ">
                        <img src="/static/images/react.svg" alt="react" class="tech-icon paddbottom20px">
                        <p>I gained experience with React in my last job, building a customer feedback app using the
                            MERN stack. By combining React’s flexible, component-based structure with Tailwind CSS, I
                            was able to create a highly responsive and efficient front-end.
                        </p>
                    </div>
                    <div class="flex-iem ">
                        <img src="/static/images/mongoDB.svg" alt="mongo" class="tech-icon paddbottom20px">
                        <p>I have some experience with MongoDB, mainly through integrating it with backend APIs. While I
                            don’t work with it directly, I understand how to design schemas and manage data effectively
                            within a full-stack application.
                        </p>
                    </div>
                    <div class="flex-iem ">
                        <img src="/static/images/mysql.svg" alt="mysql" class="tech-icon paddbottom20px">
                        <p>I’m currently building a school system database with MySQL as part of my database class. I
                            have a strong understanding of the relational database model and SQL, and I’m applying this
                            knowledge to real-world projects.
                        </p>
                    </div>
                </div>
                <div class="line-break-3"></div>
            </div>

            <div class="project-section" id="projects">
                <h1>PROJECT</h1>
                <div class="chatbot-project-div">
                    <div class="chatbot-info-div">
                        <h3>GPT-4o-mini Assistant</h3>
                        <p>
                            This project is a Flask-based AI Chatbot Web Application that leverages OpenAI's GPT models
                            to provide conversational interactions. The chatbot is designed to respond to user inquiries
                            with context-specific answers based on a predefined script about me.
                        </p>
                        <a href="https://github.com/duyquangbui99" target="_blank">
                            <img src="/static/images/github.svg" alt="Github Logo" class="github-icon">
                        </a>
                    </div>
                    <div class="chat-container">
                        <div id="chat-box">
                            <div class='bot-response-container'>
                                <img src="/static/images/bot.svg" alt="botIcon" class="bot-icon">
                                <div class="bot-message">
                                    <p>Feel free to ask anything!</p>
                                </div>
                            </div>
                            <!-- Responses will be displayed here -->
                        </div>
                        <div class="input-container">
                            <input type="text" id="user-input" placeholder="Ask a question...">
                            <div id="send-button">
                                <img src="/static/images/up-arrow.svg" alt="up-arrow" class="up-arrow-icon">
                            </div>
                        </div>
                    </div>
                </div>

                <h1 style="padding-top: 30px;">MORE PROJECTS</h1>

                <div class="container">
                    <div class="project-grid">
                        <!-- Project Card 1 -->
                        <a href="https://github.com/duyquangbui99/VidSummarizer" target="_blank">
                            <div class="project-card">
                                <img src="/static/images/project1.png" alt="Project 1" class="project-image">
                                <div class="content">
                                    <h3>VidSummarizer</h3>
                                    <p>AI-driven web application designed to
                                        automatically generate
                                        concise summaries from YouTube video transcripts.</p>
                                    <div class="stack">
                                        <span class="badge">Python</span>
                                        <span class="badge">Langchain</span>
                                        <span class="badge">Js</span>
                                    </div>
                                </div>
                            </div>
                        </a>

                        <!-- Project Card 2 -->
                        <a href="https://github.com/duyquangbui99/math-bingo" target="_blank">
                            <div class="project-card">
                                <img src="/static/images/project2.png" alt="Project 2" class="project-image">
                                <div class="content">
                                    <h3>Math Bingo</h3>
                                    <p>Classic game of bingo into a math learning game by calling out math problems for
                                        kids to solve and mark on their bingo cards.</p>
                                    <div class="stack">
                                        <span class="badge">Javascript</span>
                                        <span class="badge">HTML</span>
                                        <span class="badge">CSS</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <!-- Project Card 3 -->
                        <a href="https://github.com/duyquangbui99/Support-Chatbot" target="_blank">
                            <div class="project-card">
                                <img src="/static/images/project3.png" alt="Project 3" class="project-image">
                                <div class="content">
                                    <h3>Rule-Based ChatBot</h3>
                                    <p> Web-based virtual assistant designed to provide quick responses to common
                                        questions about an business by fetching data from Json.</p>
                                    <div class="stack">
                                        <span class="badge">Javascript</span>
                                        <span class="badge">HTML</span>
                                        <span class="badge">CSS</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <!-- Project Card 4-->
                        <a href="https://github.com/duyquangbui99/NavMeshComponent" target="_blank">
                            <div class="project-card">
                                <img src="/static/images/project4.png" alt="Project 4" class="project-image">
                                <div class="content">
                                    <h3>Game Development</h3>
                                    <p>This C# game focuses on robust navigation systems through navmesh
                                        creation, ensuring precise character and object pathfinding.</p>
                                    <div class="stack">
                                        <span class="badge">C#</span>
                                        <span class="badge">Unity</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <!-- Project Card 5-->
                        <a href="https://github.com/duyquangbui99/SudokuSovlerPython" target="_blank">
                            <div class="project-card">
                                <img src="/static/images/project5.png" alt="Project 5" class="project-image">
                                <div class="content">
                                    <h3>Sudoku Solver</h3>
                                    <p>This is a Python program that allows you to play and solve Sudoku puzzles. It
                                        uses the Tkinter library to create GUI for the
                                        game.</p>
                                    <div class="stack">
                                        <span class="badge">Python</span>
                                        <span class="badge">Tkinter</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- Hire me Section-->
                <section id="contact">
                    <p style="font-size: 1.3rem;">Get in Touch</p>
                    <h1>Contact Me</h1>
                    <div class="contact-info-upper-container">
                        <div class="contact-info-container">
                            <img src="/static/images/mail.png" alt="Email icon" class="email-icon" />
                            <p><a href="mailto:qbuiforwork@gmail.com">qbuiforwork@gmail.com</a></p>
                        </div>
                        <div class="contact-info-container">
                            <img src="/static/images/linkedin.svg" alt="LinkedIn icon" class="contact-icon" />
                            <p><a href="https://www.linkedin.com/in/quang-bui-4b7059256/" target="_blank">LinkedIn</a>
                            </p>
                        </div>
                    </div>
                </section>

                <div class="copy-right">
                    <p>Copyright © Quang Bui</p>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/scipt.js"></script>
    <script src="/static/js/chatbot.js"></script>
</body>

</html>