<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Quang Bui</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/sidebarNav.css">
    <link rel="stylesheet" href="/static/css/aboutMe.css">
    <link rel="stylesheet" href="/static/css/project.css">

</head>

<body>
    <div class="flex-row">
        <!-- Sidebar for larger screens -->
        <div class="main-sidebar">
            <div class="nav-side-bar side-bar" id="sidebar">
                <h2>Quang Bui</h2>
                <img src="/static/images/avatar.JPG" alt="avatar" class="img-ava">
                <p>Hi, my name is Quang Bui, a Graduate Student at Okahoma City University</p>
                <div class="logo-div">
                    <img src="/static/images/address.svg" alt="Address Pin" class="address-pin">
                    <p>Tulsa, Oklahoma</p>
                </div>
                <div class="line-break"></div>

                <div class="logo-div">
                    <a href="https://www.linkedin.com/in/duyquangbui99/" target="_blank">
                        <img src="/static/images/linkedin.svg" alt="LinkedIn Logo" class="linkedin-icon">
                    </a>
                    <a href="https://github.com/duyquangbui99" target="_blank">
                        <img src="/static/images/github.svg" alt="Github Logo" class="github-icon">
                    </a>
                </div>
                <!-- Hidden Sidebar items for navigation for smaller screen-->
                <div class="padd20 hidden-deft">
                    <a href="index.html">
                        <div class="logo-div">
                            <img src="/static/images/person.svg" alt="person Logo" class="person-icon">
                            <h3>About Me</h3>
                        </div>
                    </a>
                    <a href="#projects">
                        <div class="logo-div">
                            <img src="/static/images/project.svg" alt="project Logo" class="project-icon">
                            <h3>Projects</h3>
                        </div>
                    </a>
                    <a href="">
                        <div class="logo-div logo-section">
                            <img src="/static/images/resume.svg" alt="resume Logo" class="resume-icon">
                            <h3>Resume</h3>
                        </div>
                    </a>
                    <div class="hire-me-button">
                        <a href="">
                            <div class="logo-div logo-section">
                                <img src="/static/images/hireme.png" alt="hireme Logo" class="hireme-icon">
                                <h3 class="white">Hire me</h3>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
            <!-- Sidebar items for navigation -->
            <div class="side-bar nav-items" id="nav-items">
                <a href="index.html">
                    <div class="logo-div">
                        <img src="/static/images/person.svg" alt="person Logo" class="person-icon">
                        <h3>About Me</h3>
                    </div>
                </a>
                <a href="#projects">
                    <div class="logo-div">
                        <img src="/static/images/project.svg" alt="project Logo" class="project-icon">
                        <h3>Projects</h3>
                    </div>
                </a>
                <a href="">
                    <div class="logo-div logo-section">
                        <img src="/static/images/resume.svg" alt="resume Logo" class="resume-icon">
                        <h3>Resume</h3>
                    </div>
                </a>
                <div class="hire-me-button">
                    <a href="">
                        <div class="logo-div logo-section">
                            <img src="/static/images/hireme.png" alt="hireme Logo" class="hireme-icon">
                            <h2 class="white">Hire me</h2>
                        </div>
                    </a>
                </div>
            </div>
            <!-- Navbar for smaller screens -->
            <div class="top-navbar">
                <div class="open-menu" id="open-menu">
                    <img src="/static/images/menu.svg" alt="menu Logo" class="menu-icon">
                </div>
                <div class="menu-text">
                    <h2>Quang Bui</h2>
                </div>
            </div>
        </div>
        <!-- About Me -->
        <div class="main-about-me">
            <div class="about-me">
                <div class="about-me-text">
                    <h1>QUANG BUI</h1>
                    <h2>Dedicated and Enthusiastic Software Enigineer</h2>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        Aenean massa. Cum sociis natoque penatibus et magnis dis parturient...
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        Aenean massa. Cum sociis natoque penatibus et magnis dis parturient...
                    </p>
                    <div class="flex-row gap-30 ">
                        <a href="#projects">
                            <div class="logo-div">
                                <img src="/static/images/project.svg" alt="project Logo" class="project-icon">
                                <h3>Projects</h3>
                            </div>
                        </a>
                        <a href="">
                            <div class="logo-div logo-section">
                                <img src="/static/images/resume.svg" alt="resume Logo" class="resume-icon">
                                <h3>Resume</h3>
                            </div>
                        </a>
                    </div>
                    <div class="line-break-3"></div>
                </div>
                <div class="circle-container">
                    <div class="circle circle1"></div>
                    <div class="circle circle2"></div>
                    <div class="avatar-container">
                        <img src="/static/images/file.png" alt="Avatar" class="avatar">
                    </div>
                </div>
            </div>

            <div class="tech-used">
                <h1>TECHNICAL STACK</h1>
                <div class="tech-stack">
                    <div class="flex-iem">
                        <img src="/static/images/python.svg" alt="python" class="tech-icon paddbottom20px">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        </p>
                    </div>
                    <div class="flex-iem ">
                        <img src="/static/images/csharp.svg" alt="c#" class="tech-icon paddbottom20px">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        </p>
                        </p>
                    </div>
                    <div class="flex-iem ">
                        <div class="mutiple-icons paddbottom10px">
                            <img src="/static/images/html.svg" alt="python" class="tech-icon">
                            <img src="/static/images/css.svg" alt="python" class="tech-icon">
                            <img src="/static/images/js.svg" alt="python" class="tech-icon">
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        </p>
                    </div>
                    <div class="flex-iem ">
                        <img src="/static/images/react.svg" alt="react" class="tech-icon paddbottom20px">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        </p>
                    </div>
                    <div class="flex-iem ">
                        <img src="/static/images/mongoDB.svg" alt="mongo" class="tech-icon paddbottom20px">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        </p>
                    </div>
                    <div class="flex-iem ">
                        <img src="/static/images/mysql.svg" alt="mysql" class="tech-icon paddbottom20px">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        </p>
                    </div>
                </div>
                <div class="line-break-3"></div>
            </div>

            <div class="project-section" id="projects">
                <h1>PROJECT</h1>
                <div class="chatbot-project-div">
                    <div class="chatbot-info-div">
                        <h3>GPT-4o-mini Assistant</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                            Aenean commodo ligula eget dolor. I'm taking on freelance work at the moment. Want some help
                            building your software?
                        </p>
                        <a href="https://github.com/duyquangbui99" target="_blank">
                            <img src="/static/images/github.svg" alt="Github Logo" class="github-icon">
                        </a>
                    </div>
                    <div class="chat-container">
                        <div id="chat-box">
                            <div class='bot-response-container'>
                                <img src="/static/images/bot.svg" alt="botIcon" class="bot-icon">
                                <div class="bot-message">
                                    <p>Feel free to ask anything!</p>
                                </div>
                            </div>
                            <!-- Responses will be displayed here -->
                        </div>
                        <div class="input-container">
                            <input type="text" id="user-input" placeholder="Ask a question...">
                            <div id="send-button">
                                <img src="/static/images/up-arrow.svg" alt="up-arrow" class="up-arrow-icon">
                            </div>
                        </div>
                    </div>
                </div>

                <h1>MORE PROJECTS</h1>

                <div class="container">
                    <div class="project-grid">
                        <!-- Project Card 1 -->
                        <div class="project-card">
                            <img src="https://images.unsplash.com/photo-1531403009284-440f080d1e12?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
                                alt="Project 1" class="project-image">
                            <div class="content">
                                <h3>E-commerce Platform</h3>
                                <p>A fully functional e-commerce website with product listings, cart functionality, and
                                    secure checkout process.</p>
                                <div class="stack">
                                    <span class="badge">React</span>
                                    <span class="badge">Node.js</span>
                                    <span class="badge">MongoDB</span>
                                </div>
                            </div>
                        </div>
                        <!-- Project Card 2 -->
                        <div class="project-card">
                            <img src="https://images.unsplash.com/photo-1551739440-5dd934d3a94a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
                                alt="Project 2" class="project-image">
                            <div class="content">
                                <h3>Task Management App</h3>
                                <p>A collaborative task management application with real-time updates, user
                                    authentication, and project tracking.</p>
                                <div class="stack">
                                    <span class="badge">Vue.js</span>
                                    <span class="badge">Firebase</span>
                                    <span class="badge">Vuex</span>
                                </div>
                            </div>
                        </div>
                        <!-- Project Card 3 -->
                        <div class="project-card">
                            <img src="https://images.unsplash.com/photo-1460925895917-afdab827c52f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1415&q=80"
                                alt="Project 3" class="project-image">
                            <div class="content">
                                <h3>Weather Forecast Dashboard</h3>
                                <p>An interactive weather forecast dashboard with location-based services and data
                                    visualization.</p>
                                <div class="stack">
                                    <span class="badge">React</span>
                                    <span class="badge">Express.js</span>
                                    <span class="badge">Chart.js</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="copy-right">
                    <p>Copyright © Quang Bui</p>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/scipt.js"></script>
    <script src="/static/js/chatbot.js"></script>
</body>

</html>