<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Quang Bui</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/sidebarNav.css">
</head>

<body>
    <div class="flex-row">
        <!-- Sidebar for larger screens -->
        <div class="main-sidebar">
            <div class="nav-side-bar side-bar" id="sidebar">
                <h2>Quang Bui</h2>
                <img src="/static/images/avatar.JPG" alt="avatar" class="img-ava">
                <p>Hi, my name is Quang Bui, a Graduate Student at Okahoma City University</p>
                <div class="logo-div">
                    <img src="/static/images/address.svg" alt="Address Pin" class="address-pin">
                    <p>Tulsa, Oklahoma</p>
                </div>

                <div class="line-break"></div>
                <div class="logo-div">
                    <a href="https://www.linkedin.com/in/duyquangbui99/" target="_blank">
                        <img src="/static/images/linkedin.svg" alt="LinkedIn Logo" class="linkedin-icon">
                    </a>
                    <a href="https://github.com/duyquangbui99" target="_blank">
                        <img src="/static/images/github.svg" alt="Github Logo" class="github-icon">
                    </a>
                </div>
                <div class="hire-me-button hidden-deft">
                    <a href="">
                        <div class="logo-div logo-section">
                            <img src="/static/images/hireme.png" alt="hireme Logo" class="hireme-icon">
                            <h3 class="white">Hire me</h3>
                        </div>
                    </a>
                </div>

            </div>
            <!-- Sidebar items for navigation -->
            <div class="side-bar nav-items" id="nav-items">
                <a href="index.html">
                    <div class="logo-div">
                        <img src="/static/images/person.svg" alt="person Logo" class="person-icon">
                        <h3>About Me</h3>
                    </div>
                </a>
                <a href="">
                    <div class="logo-div">
                        <img src="/static/images/project.svg" alt="project Logo" class="project-icon">
                        <h3>Projects</h3>
                    </div>
                </a>
                <a href="">
                    <div class="logo-div logo-section">
                        <img src="/static/images/resume.svg" alt="resume Logo" class="resume-icon">
                        <h3>Resume</h3>
                    </div>
                </a>
                <div class="hire-me-button">
                    <a href="">
                        <div class="logo-div logo-section">
                            <img src="/static/images/hireme.png" alt="hireme Logo" class="hireme-icon">
                            <h3 class="white">Hire me</h3>
                        </div>
                    </a>
                </div>
            </div>
            <!-- Navbar for smaller screens -->
            <div class="top-navbar">
                <div class="open-menu" id="open-menu">
                    <img src="/static/images/menu.svg" alt="menu Logo" class="menu-icon">
                </div>
                <div class="menu-text">
                    <h2>Quang Bui</h2>
                </div>
            </div>
        </div>
        <!-- Resume-->
        <div class="">
            This is Resume Page

        </div>
    </div>
    <script src="/static/js/scipt.js"></script>
</body>

</html>